<div class="navigation-submenu-container submenu__center" data-submenu data-depth="{{ depth }}" aria-hidden="true">
	<div class="menu__info__body">
		<div class="menu__blk">
			<ul class="menu__address__info">
				<li class="place">
					東京銀座店
				</li>
				<li class="address">
					<span class="address-txt">〒104-0061 東京都中央区銀座５丁目４-７</span>
					<a href="https://goo.gl/maps/UUqbNuZxAcjx3vsQ8" target="_blank" rel="noopener noreferrer" class="map-link"><span>地図を見る</span></a>
				</li>
				<li>
					TEL 0120-53-5537
				</li>
				<li>
					営業時間　日〜木曜 11:00〜18:30　金曜 11:00〜16:00
				</li>
				<li class="holiday">
					定休日　土曜・祝祭日
				</li>
			</ul>
			<ol>
				<li>・サイズ直し</li>
				<li>・洗浄、点検</li>
				<li>・時計のメンテナンス</li>
			</ol>
		</div>
		<div class="menu__blk">
			<ul class="menu__address__info">
				<li class="place">
					大阪駅前店
				</li>
				<li class="address">
					<span class="address-txt">〒530-0001 大阪府大阪市北区梅田1丁目2-2</span>
					<a href="https://goo.gl/maps/vJhd8txMTisKA9hb6" target="_blank" rel="noopener noreferrer" class="map-link"><span>地図を見る</span></a>
				</li>
				<li class="tel">
					TEL 0120-00-8189
				</li>
				<li>
					営業時間　日〜木曜 11:00〜18:30　金曜 11:00〜16:00
				</li>
				<li class="holiday">
					定休日　土曜・祝祭日
				</li>
			</ul>
			<ol>
				<li>・サイズ直し</li>
				<li>・洗浄、点検</li>
				<li>・時計のメンテナンス</li>
			</ol>
		</div>
	</div> 
</div>

