<div class="mv-guide">
	<div class="inner">
		<h2 class="ttl ttl-level-01 ttl-theme-01">User Guide<span>ご利用ガイド</span></h2>
		<ul class="guide-link-gp">
			<li><a href="#order-flow">CCCご注文の流れ</a></li>
			<li><a href="#about-payment">DDDお支払いについて</a></li>
			<li><a href="#regarding-delivery">配送について</a></li>
			<li><a href="#about-returns">返品について</a></li>
			<li><a href="#inquiry">お問い合わせ</a></li>
		</ul>
	</div>
</div>
<div class="guide-content">
	<div class="inner">
		<div id="order-flow" class="guide-list">
			<div class="guide-item bdr-line">
				<h5>ご注文の流れ</h5>
				<p class="txt">当店は店頭でも販売を展開しておりますので、お品を確認いたしました上、後程スタッフから連絡メールをお送りいたしました時点で契約成立となります。<br>
					何卒ご理解のほど、お願い申し上げます。</p>
			</div>
			<div class="guide-item">
				<h5>購入手順</h5>
				<p class="txt">
					ショッピングカート画面で商品と金額を確認し「購入手続きへ」ボタンを押してください。<br>
					↓<br>
					メールアドレス・お名前・ご住所を入力し「配送方法の選択へ」ボタンを押してください。<br>
					↓<br>
					お好きな配送方法を選択し「お支払い進む」ボタンを押してください。<br>
					※ 追記予定<br>
					↓<br>
					注文内容と送料確認の上、<br>
					お好きなお支払い方法を選択し「購入」ボタンを押してください。<br>
					↓<br>
					以上でご注文受付となります。ありがとうございます。<br>
					尚、当店は店頭でも販売を展開しておりますので、お品を確認いたしました上、後程スタッフから連絡メールをお送りいたしました時点で契約成立となります。<br>
					ご理解のほど、お願い申し上げます。
				</p>
			</div>
		</div>
		<div id="about-payment" class="guide-list">
			<div class="guide-item">
				<h5 class="bdr-line">お支払いについて</h5>
				<div class="about-payment txt">
					<dl>
						<dt>クレジットカード決済</dt>
						<dd>
							クレジットカードは次の中からお選びください。<br>
							VISA、マスターカード、JCB、American Express<br>
							決済手続き完了後、発送の準備が整い次第、商品をお送りさせて頂きます。
						</dd>
					</dl>
					<dl>
						<dt>銀行振込(先払い)</dt>
						<dd>
							【三井住友銀行】 船場支店　普通口座　1172331　口座名義：ジェックスホウセキギャラリー<br>
							お振込手数料は、お客様のご負担となります。何卒、ご了承くださいませ。
						</dd>
					</dl>
					<dl>
						<dt>郵便振替(先払い)</dt>
						<dd>
							【店名の場合】〇九九店　当座　257215<br>
							【記号番号の場合】記号：00960-6　番号：257215<br>
							名義：ジェックスホウセキギャラリー<br>
							お振込手数料は、お客様のご負担となります。何卒、ご了承くださいませ。
						</dd>
					</dl>
					<dl>
						<dt>代金引換(後払い)</dt>
						<dd>
							発送の準備が整い次第、商品をお送りさせて頂きます。<br>
							代引手数料<br>
							1万円以下：330円<br>
							3万円以下：440円<br>
							10万円以下：660円<br>
							30万円以下：1,100円<br>
							50万円以下：2,200円<br>
							100万円以下：3,300円<br>
							100万円を超える場合：4,400円<br>
							※すべての商品は税込み表示です。
						</dd>
					</dl>
				</div>
			</div>
		</div>
		<div id="regarding-delivery" class="guide-list">
			<div class="guide-item bdr-line">
				<h5>配送について</h5>
				<p class="txt">ご注文から2～5営業日で発送いたします。<br>
					鑑別書作成等、出荷が遅れる商品に関してはメールにて納期のご連絡をいたします。</p>
			</div>
			<div class="regional bdr-line">
				<div class="guide-item">
					<h5>地域別配送料</h5>
					<div class="regional-tbl txt">
						<dl>
							<dt>北海道</dt>
							<dd>1,500円</dd>
						</dl>
						<dl>
							<dt>福岡・佐賀・長崎・熊本・大分・宮崎・鹿児島・沖縄</dt>
							<dd>1,200円</dd>
						</dl>
						<dl>
							<dt>青森・岩手・秋田・鳥取・島根・岡山・広島・山口・徳島・香川・
								愛媛・高知</dt>
							<dd>1,000円</dd>
						</dl>
						<dl>
							<dt>宮城・山形・福島・滋賀・京都・大阪・兵庫・奈良・和歌山</dt>
							<dd>900円</dd>
						</dl>
						<dl>
							<dt>茨城・栃木・群馬・埼玉・千葉・東京・神奈川・山梨・新潟・
								長野・富山・石川・福井・岐阜・静岡・愛知・三重</dt>
							<dd>800円</dd>
						</dl>
					</div>
				</div>
				<div class="img">
					<img 
					src="{{ 'img_guide.png' | asset_img_url: 'original' }}"
					srcset="{{ 'img_guide.png' | asset_img_url: 'original' }} " 
					alt="地域別配送料">
				</div>
			</div>
			<div class="guide-item">
				<h5>海外配送について</h5>
					<p class="txt s-mb-10">
						海外配送の場合は、日本国の消費税はかかりませんが、郵送先個別の関税がかかる場合がございます。表示価格には含まれておりません。<br>
						関税について当店では関与いたしません。ご購入者様が輸入に関わるすべての税金を、商品お受け取り時にお支払いください。国や地域により異なりますので、輸入関税に関する事項は、商品到着先の関税局に直接お問い合わせください。<br>
						また、インボイスに虚偽の記載などを承ることはできかねます。予めご了承ください。
					</p>

					<p class="txt s-mb-10">
						保険付きにて、DHLまたは金額により弊社指定の業者にて発送いたします。 送料はお客様負担となります。なお、お客様による配送業者の指定は承っておりません。配送業者の選定は金額により異なりますので、都度おお見積りいたします。発送が完了いたしましたら、Eメールにてお知らせいたします。
					</p>

					<p class="txt">
						配送を承れない国や地域もございます。必ず予めお問合せください。またその際の可否につきましてはご了承ください。
					</p>
			</div>
		</div>
		<div id="about-returns" class="guide-list">
			<div class="guide-item">
				<h5 class="bdr-line">海外配送の返品ポリシー</h5>
				<p class="txt">
					商品の受取を拒否される場合は、返送にかかるコストのすべてをお支払いいただきます。<br>
					(輸入、輸出関税、送料、保険料、税金など)<br>
					商品到着後、ご使用された場合は返品できません。
				</p>
			</div>
		</div>
		<div id="inquiry" class="guide-list">
			<div class="guide-item">
				<h5>お問い合わせ</h5>
				<div class="inquiry txt">
					<dl>
						<dt>JEX（ジェックス）宝石ギャラリー</dt>
						<dd>
							<a href="/pages/contact/" class="txt-decoration">お問い合わせフォームはこちら</a><br>
							大阪駅前店　0120-00-8189<br>
							東京駅前店　0120-53-5537<br><br>
							
							営業時間11:00～18:30 (金曜日は16:00までの営業 / 定休日：土曜・祝日）</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>

